beautifulsoup4
celery
django-admin-rangefilter
django-clear-cache
django-editor-widgets==4.1
django-environ
django-prettyjson
django==4.1
djangorestframework==3.13.1
envparse
gunicorn
ipython
pillow
psycopg2
python-dateutil
python-telegram-bot>=20,<22
redis
requests>=2.28.1
selenium==4.21.0 
sentry-sdk
validators
openai==2.6.1
